<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
		
		<link href="/static/css/loop.css" media="all" rel="stylesheet" type="text/css" />
	
		
	</head>
	<body>
			<h1>plasmapo : plasmid-to-map-o</h1>
			<div style="clear: both;"></div>
			<label><b>Input instructions</b></label>
			<p>Two columns are required for features: type and name. Currently, promoter (p), cds (c), fusion (f) or terminator (t) features are supported. Features can be repeated any number of times Features are drawn by input order.</p>
			<p>Colour can be specified for cds features in a 3rd column. 1 - 9 numbers map to different colours. </p>
			<p>To retrieve vector graphics, just print to PDF through your browser after the plasmid map is rendered.</p>
			<div style="clear: both;"></div>
			<form id="form" action="" class="center-form" method="POST">
				<label class="label" for="name">Plasmid name</label>
				<input id="name" class="text-input" type="text"  name="name" onfocus="if (this.value == 'e.g. pUC') { this.value = ''; }" value="e.g. pUC">
				<div style="clear: both;"></div>
				<label class="label" for="resistance">Resistance</label>
				<input id="resistance" class="text-input" type="text"  name="resistance" onfocus="if (this.value == 'e.g. KanR') { this.value = ''; }" value="e.g. KanR">
				<div style="clear: both;"></div>
	
				<textarea id="instructions" class="box seq" name="instructions" type="text">p MpEF1a 
c HygR 1
t nosT
p MpTUBa-like
c mTurquoise2 2
f N7 5
t 35ST
p MpEF1a
c eGFP 3
f Lti6b 5
t 35ST
p MpTPL
c Venus 4
f N7 5
t 35ST</textarea> 
				<input id="blast-button" class="button right" type="submit" value="Submit">
			</form>
		<p>MIT license - Bernardo Pollak - bpollak[at]gmail[dot]com.</p>
		<script>
		$("#instructions").focus(function() {
			if( $(this).val() == "p MpEF1a \nc HygR 1\nt nosT\np MpTUBa-like\nc mTurquoise2 2\nf N7 5\nt 35ST\np MpEF1a\nc eGFP 3\nf Lti6b 5\nt 35ST\np MpTPL\nc Venus 4\nf N7 5\nt 35ST" ) {
        $(this).val("");
    }});
		</script>
	</body>
</html>